* {
    -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
    user-select: none;
}

body {
    margin: 0;
    background-color: black;
}

div#bootscreen {
    background: black;
    display: none;
}

div#bootscreen>img#bootoslogo {
    height: 20vh;
    top: calc(50% - 10vh);
    left: calc(50% - 10vh);
    position: absolute;
    transition-property: top;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

div#bootscreen.hasosloader>img#bootoslogo {
    top: calc(50% - 17.5vh);
}

div.screen {
    width: 100%; height: 100%;
}

div#bootscreen>progress#bootosloader {
    position: absolute;
    top: 66.6%;
    width: 50%;
    left: 25%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 16px;
    height: 16px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
}

progress::-webkit-progress-bar {
	background-color: #0F0F0F;
	border-radius: 16px;
}

progress::-webkit-progress-value {
	background-color: #A0A0A0;
	border-radius: 16px;
    transition-property: width;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

div#bootscreen.hasosloader>progress#bootosloader {
	opacity: 1;
}

div#biosscreen {
    font-family: monospace;
    white-space: nowrap;
    display: block;
    background: black;
    color: white;
    font-size: 32px;
}
  
div#biosscreen>.bios-line>.bios-loader {
    display: inline-block;
    width: 1em;
    text-align: center;
}
  
div#biosscreen>.bios-line>.bios-loader::after {
    content: '/';
    animation: biosLoader 0.25s steps(4) infinite;
}

div#biosscreen>.bios-loader {
    display: none;
}
  
@keyframes biosLoader {
    0% { content: '/'; }
    25% { content: '-'; }
    50% { content: '\\'; }
    75% { content: '|'; }
    100% { content: '/'; }
}
  

string#bootmessage {
    display: block;
    position: absolute;
    top: calc(66.6% + 24px);
    width: 50%;
    left: 25%;
    font-family: system-ui;
    font-size: 26px;
    color: white;
    text-align: center;
}